#container{
    width: 60%;
    /* background-color: aquamarine; */
    /* position: relative; */
    /* float: left; */
    border: 3px solid #c4c4c4;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;

    /* padding-top: 10px; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}


#inputMusicId{
    width: 66%;
    /* min-width: 223px; */
    height:30px;
    margin-top: 33px;
    margin-bottom: 22px;
    font-size: 22px;
    padding: 6px;
    border-radius: 6px;
}

#musicPlayer{
    /* width:60%; */
    /* min-width: 40%; */
    border-radius: 6px;
    margin-bottom: 1.6rem;
    margin-bottom: 33px;
}

#button-get{
    width: 66%;
    padding: 6px;
    font-size: 22px;
    margin-bottom: 33px;
}

#title{
    margin-top: 99px;
    margin-bottom: 33px;
    text-align: center;
    font-size: 44px;
}

#footer{
    border: 3px solid #c4c4c4;
    border-radius: 16px;
    margin-top: 66px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.footer-title{
    font-size: 22px;
    text-align: center;
}
